* {
  font-family: "Quicksand", sans-serif;
}

.pumping {
  animation: pump 4s infinite;
}

.pumping2 {
  animation: pumped 2s linear infinite;
}

.main {
  background: linear-gradient(to bottom, transparent 0%, black 40%);
}

.main2 {
  background: linear-gradient(to bottom, transparent 20%, black 90%);
}

.main3 {
  background: linear-gradient(to bottom, transparent 20%, black 90%);
}

.topSongs {
  background: linear-gradient(to bottom, transparent 0%, black 8%);
}

.lyrics {
  background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%, black 60%);
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*b:77aeffp:030b0es:341f1dt:1a2b3eq:413c4a*/
/* .deets {
  background-image: linear-gradient(
    to bottom,
    #77aeff,
    #030b0e,
    #341f1d,
    #1a2b3e,
    #413c4a
  );
  background-blend-mode: screen;
} */

@keyframes pump {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }
}

@keyframes pumped {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.3;
  }

  100% {
    scale: 1;
  }
}