* {
    font-family: 'Quicksand', sans-serif;
}

.pumping {
    animation: pump 4s linear infinite;
    /* color: #17253b; */
}

@keyframes pump {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 1;
    }
}